header {
    width: 100%;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

/* Logo */
header figure.logo img {
    width: 20%;
    height: auto;
}

/* Menu */
header .menu ul {
    display: flex;
    gap: 2rem;
}

header .menu ul li a {
    font-size: 1.2rem;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header .menu ul li a:hover {
    color: var(--color-cian);
}

/* Responsividade */

#mobile-menu {
    display: none;
}

@media (max-width: 1158px) {
    html {
        font-size: 90%;
    }
}

/* 1085px */
@media (max-width: 1085px) {
    html {
        font-size: 85%;
    }
}

/* 1055px */
@media (max-width: 1055px) {
    html {
        font-size: 75%;
    }
}

/* 996px */
@media (max-width: 996px) {
    html {
        font-size: 60%;
        overflow-x: hidden;
    }

    nav.menu {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--background-header);
        transform: translateX(100%);
    }
    
    nav.menu ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
    }
    
    nav.menu ul li a {
        opacity: 0;
    }
    
    #mobile-menu {
        display: block;
        width: 10%;
    }

    nav.menu.active {
        transform: translateX(0);
    }
}