/* Global */
@import url("./global/colors.css");
@import url("./global/padrao.css");

/* Index */
@import url("./pages/index/conteudo.css");
@import url("./pages/index/estatisticas.css");

/* Presencial */
@import url("../css/components/presencial/header.css");
@import url("../css/components/presencial/main.css");


/* Geral */
body {
    background-color: var(--background);
    color: var(--color-white);
    padding: 5rem 5rem; 
}