:root {
    /* Background */
    --background: #232428;
    
    /* Colors */
    --color-white: #fff;
    --color-grey: #ccc;
    --color-cian: rgba(0, 255, 255, 0.338);
    
    /* Components */
    --border-cian: #0ff;
    
    /* Fonts */

}