* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: 'Inter', sans-serif;
    outline: none;
    text-decoration: none;
    list-style: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}